body {
    font-size: 24px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    position: relative;
}

hr { 
    display: block;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 2px;
    border-color: magenta;
    background-color: magenta;
}


input {
    width: 75%;
    font-size: 24px;
    margin: 4px;
}

input[type=checkbox] {
    width: auto;
    transform: scale(1.7);
    margin: 0 20px;;
}

#checkBox {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 108px;
}

#addBookBtn {
    transform: scale(2.5);
    margin: 48px;
}

.close {
    position: absolute;
    top:0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

#collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collection-container {
    padding: 16px;

}

.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
    height: 300px;
    border:rgba(0, 0, 0, 0.4) solid 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }