@font-face {
    font-family: Londinia;
    src: url(./fonts/londinia-medium.regular.ttf);
}

@font-face {
    font-family: Exon;
    src: url(./fonts/ExonRegular-0WjEd.otf);
}

body {
    font-family: Londinia;
    font-size: 24px;
}

/* Header Section */
header {
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 100px;

    /* Color */
    background-color: rgba(10, 0, 10, 0.445);
    color: rgb(12, 86, 134);

    /* Text */
    font-size: 75px;
}

header > * {
    display: flex;
    align-items: center;
}

#header-icon {
    height: 100px;
}

h1 {
    margin: 0 20px;
}

button {
    height: 100px;
    width: 150px;
    margin: 20px;

    background-color: rgba(238, 108, 255, 0.651);
    color: rgb(12, 86, 134);
    
    font-family: Exon;
    font-size: 36px;
}

/* Content Section */
main {
    background-color: rgba(12, 85, 134, 0.637);
    box-shadow: inset 0px 4px 4px rgb(172, 82, 172);
}

#collection {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    align-items: center;
    gap: 200px 0;
    padding: 50px 200px;
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    padding: 16px;
    border:magenta solid 2px;
    margin: auto;
    text-align: center;

    background-color: white;
    
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

hr { 
    display: block;
    width: 90%;
    border: 2px inset magenta ;
    margin-bottom: 0.5em;

    background-color: magenta;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(247, 0, 255, 0.61);
  }

.card-title {
    color:rgb(12, 86, 134);
    font-size: 38px;
}

.card-details {
    font-family: Exon;
}

.remove-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(196, 0, 0);
    color: white;

    font-size: 28px;
}

.read {
    background-color: rgba(248, 104, 248, 0.767);
}

.read > .read-status-button {
    background-color: rgb(102, 138, 205);
}

.material-icons {
    font-size: 30px;
}

/* Modal Section */
.bg-modal {
    position: absolute;
    top: 0;

    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: relative;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    text-align: center;
    
    background-color: white;
    
    font-family: Exon;
    font-size: 32px;
}

h3 {
    margin: 20px;

    color:rgb(12, 86, 134);

    font-family: Londinia;
    font-size: 40px;
}

input {
    width: 75%;
    padding: 4px;
    margin: 10px;
    
    font-family: Exon;
    font-size: 24px;
}

input[type=checkbox] {
    width: 50px;
    margin: 0 15px;

    transform: scale(1.7);
}

.input-lines {
    width: 80%;
    border-width: 1px;
    border-color:rgb(140, 177, 245);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 12px 108px;
}

#addBookBtn {
    height: 50px;
    margin: 20px;

    font-size: 20px;

    transform: scale(1.5);
}

.close {
    position: absolute;
    top:0;
    right: 14px;

    font-size: 75px;

    transform: rotate(45deg);
    cursor: pointer;
}